html
  head
    title!= title
  body
    img(data-webcdn-fallback="https://s3.eu-central-1.amazonaws.com/webcdn2/webcdn_test_image_small.jpeg")
  script(src="/scripts/webcdn/dist/WebCDN.js")
  script.
    var webcdn = new WebCDN({
      debug: true
    });
    webcdn.init('ws://webcdn.michelberger.info:1337');
